:root {
  /* see https://m2.material.io/design/color/the-color-system.html#tools-for-picking-colors */
  --background: #fafafa;
  --onBackground: #000000;
  --formBorder: #dedede;
  --textInputBorder: #f0f0f0;
  --button: #95f03a;
  --onButton: #000000;
  --header: #f0953a;
  --onHeader: #000000;
  --itemBackground: #f1f1f1; /* #facf90;*/
  --onItemBackground: #000000;
  --itemBackgroundSelected: #bafa90;
  --onitemBackgroundSelected: #000000;
}
* {
  margin: 0px;
  padding: 0px;
}
/**
 * Layout
 */
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1em;
  height: 95vh;
  background-color: var(--background);
  color: var(--onBackground);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
img {
  max-width: inherit;
  max-height: inherit;
  height: inherit;
  width: inherit;
  object-fit: cover;
}
header {
  padding: 1em;
  background-color: var(--header);
  color: var(--onHeader);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
}
#logo {
  height: 3em;
}
.config {
  display: flex;
  margin-top: 1em;
  border: var(--formBorder);
  flex-direction: column;
  gap: 0.5em;
  align-items: center;
}
@media screen and (min-width: 1000px) {
  .config {
    flex-direction: row;
  }
}
.chat {
  margin-top: 1em;
  border-radius: 5px;
  flex: 1; /* flex grow */
  overflow: scroll;
}
ul {
  list-style-type: none;
}
.chat li {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 0.5em;
}
.messageImage {
  width: 3em;
  height: 3em;
}
.messageDetails {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.send {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 0.5em;
  border: var(--formBorder);
  align-items: center;
  margin-bottom: 0.5em;
  margin-top: 1em;
}
.basicSendFields {
  display: flex;
  flex-direction: row;
  flex: 1;
  width: 100%;
}
.send textarea {
  flex: 1;
}
/**
  * form field styling
  *
  */
button {
  color: var(--onButton);
  text-align: center;
  text-decoration: none;
  background-color: var(--button);
  border-radius: 5px;
  padding: 0.5em;
  border: none;
  vertical-align: middle;
}
input:invalid {
  border-color: red;
}
textarea {
  display: inline-block;
  flex: 1;
  resize: vertical;
  padding: 0.8em;
  border-radius: 15px;
  border: 0;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
}
input {
  padding: 0.5em;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
}

input,
input:valid {
  border-color: #ccc;
}

.iconButton {
  font-size: 2em;
  background: var(--background);
  cursor: pointer;
}

/**
* chat item tuning
*/
li {
  padding: 0.5em;
  overflow: auto;
  background-color: var(--itemBackground);
}

li:hover {
  background: var(--itemBackgroundSelected);
}

/**
 * Snackbar
 */
/* snackbar from https://www.geeksforgeeks.org/how-to-create-a-snackbar-using-hmtl-css-javascript */
#snackbar {
  /* By Default, Hidden */
  visibility: hidden;
  background-color: #333;
  color: #fff;
  text-align: left;
  border-radius: 2px;
  padding: 16px;
  /* To always Keep on 
       Top of screen */
  position: fixed;

  /* To be displayed above 
       Parent HTML DOM element  */
  z-index: 1;

  /* Position Bottom Left 
       Corner of Screen */
  left: 10px;
  bottom: 30px;
}

/* Dynamically Appending this 
   Class to #snackbar via JS */
.show-bar {
  visibility: visible !important;
  /* fadeout Time decided in 
       accordance to Total Time */
  /* In case, Time = 3s, 
       fadeout 0.5s 2.5s */
  animation: fadein 0.5s, fadeout 0.5s 4.5s;
}

/* when the Snackbar Appears */
@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

/* when the Snackbar Disappears
   from the Screen */
@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

/**
* waiting/loading/processing as explained in https://stackabuse.com/loading-animation-in-vanilla-javascript/
*/
#spinner {
  margin: auto; /* align center */
  width: 2em;
  height: 2em;
  border: 0.5em solid;
  border-color: var(--header) transparent var(--header) transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#waitContainer {
  display: block;
  width: 100%;
  background-color: var(--background);
}
